{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>Topics:</h1>
{% endblock page_header %}

{% block content %}
    <div>
    <ul>
        {% for topic in topics %}
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                | <a href="{% url 'learning_logs:delete_topic' topic.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No topics have been added.</li>    
        {% endfor %}
    </ul>
    </div>
    <div>
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
    </div>
{% endblock content %}

