{% extends 'learning_logs/base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block page_header %}
    <p class="display-4">Login in to your account.</p>
{% endblock page_header %}


{% block content %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h2 class="card-title">Log in</h2>
                        
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                Your username and password didn't match. Please try again.
                            </div>
                        {% endif %}
                    
                        <form method="post" action="{% url 'users:login' %}" class="mt-4">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            
                            <div class="form-group mt-4">
                                {% bootstrap_button button_type="submit" content="Log in" %}
                            </div>
                            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
                        </form>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    
    
    </div>

    
{% endblock content %}







